body {
    margin: 0;
    background-color: #242E49;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 25px;
}

.logo-header {
    width: 120px;
}

.headline {
    font-size: 46px;
    color: white;
}

.navbar {
    background-color: orange;
}