html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    background-color: white;
}

h1 {
    margin: 0;
    font-size: 44px;
    color: white;
}

.navbar {
    background-color: #FF7F32;
    padding: 20px;
}

.header .logo-header {
    height: 50px;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
}

.content {
    flex: 1;
    background-color: #FF7F32;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px;
}

.under-header {
    position: relative;
}

.image-container {
    position: relative;
    background-image: url(assets/img/pizza.jpg);
    height: 250px;
    background-size: 100%;
}

.text-overlay {
    display: flex;
    align-items: start;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-top: 75px;
}

.restaurant-name,
.rating {
    margin: 0 0 5px 10px;
    padding: 5px;
    background-color: #FF7F32;
    border-radius: 10px;
}

.menu-categories {
    font-size: 24px;
    margin: 25px 0 25px 0;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    color: white;
    background-color: orange;
}

.menu-categories a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

footer {
    height: 75px;
    background-color: #FF7F32;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

@media (max-width: 756px) {
    .text-overlay h1 {
        font-size: 34px;
    }

    .text-overlay p {
        font-size: 14px;
    }

    .image-container {
        background-repeat: no-repeat;
    }
}