.basket-wrapper {
    width: 300px;
    background-color: #FF7F32;
    padding: 20px;
    border-radius: 10px;
    color: white;
    overflow-y: auto;
}

#basket {
    background-color: orange;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 46px;
}

.basket-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: white;
    border-radius: 5px;
    background-color: orange;
}

.basket-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 5px;
}

.basket-item span {
    margin: 0 3px;
}

.busket-plus {
    width: 16px;
    height: 16px;
}

.busket-minus {
    width: 16px;
    height: 16px;
}

.add-busket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-summary {
    font-size: 24px;
}

.order-button {
    height: 50px;
    background-color: orange;
    border-color: white;
    color: white;
    font-size: 50%;
}

.order-button:hover {
    transform: scale(1.05);
    transition-duration: 225ms;
}