.basket-wrapper {
    width: 300px;
    background-color: #FF7F32;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#basket {
    background-color: orange;
    border-radius: 5px;   
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 46px;
}

.basket-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
}

.basket-item span {
    margin: 0 3px;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
}

.basket-item div{
    display: flex;
}

.busket-plus{
    width: 16px;
}

.busket-minus{
    width: 16px;
}