.dish-card {
    background-color: orange;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.dish-card:hover{
    transform: scale(1.02);
    transition-duration: 225ms;
}

.dish-header {
    font-size: 32px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.dish-info p {
    margin: 5px 0;
    font-size: 24px;
}

.separator {
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

.add-button {
    height: 24px;
    cursor: pointer;
}

.food-container h2{
    font-size: 40px;
    color: white;
}